.backdrop {
  position: absolute;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.container {
  flex: 1;

  margin: 48px auto 0 auto;
  border-radius: 8px 8px 0 0;

  width: calc(100% - 96px);
  max-width: 800px;

  background: var(--white);

  cursor: default;
}

@media only screen and (max-width: 900px) {

  .container {
    margin: 4px 4px 0 4px;
    border-radius: 0;
    width: calc(100% - 8px);
  }

}

.header {
  display: flex;
  flex-direction: row-reverse;
}

.close-button {
  margin: 8px;
  margin-bottom: 6px;
  color: var(--darkgrey);
}

.content {
  flex: 1;
  margin: 0 8px;

  overflow-y: auto;
}

.content::-webkit-scrollbar {
  display: none;
}