@font-face {
  font-family: 'Robotodraft', sans-serif;
  src: url("http://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en");
}

html, body {
  font-family: 'Robotodraft', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  flex-direction: column;
}
