.container {
  position: sticky;
}

.container > :nth-child(2) {
  position: absolute;
}

.stars {
  display: flex;
  flex-direction: row;
  margin: 4px 0;
}

.star {
  height: 16px;
  width: 16px;
  fill: var(--gold);
  stroke: var(--white);
}

.star-grey {
  height: 16px;
  width: 16px;
  fill: var(--lightgrey);
  stroke: var(--white);
}