.image-gallery {
  display: grid;
  grid-template-areas: 'a b c'
                       'd e f';

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px;

  height: 300px;
}

.image-gallery > :nth-child(1) {
  grid-area: a;
}

.image-gallery > :nth-child(2) {
  grid-area: b;
}

.image-gallery > :nth-child(3) {
  grid-area: c;
}

.image-gallery > :nth-child(4) {
  grid-area: d;
}

.image-gallery > :nth-child(5) {
  grid-area: e;
}

.image-gallery > :nth-child(6) {
  grid-area: f;
}

.image {
  background: var(--lightgrey);
}

.content {
  flex: 1;
}

.restaurant-info-card {
  top: -16px;
  position: relative;

  width: 400px;
  margin: 0 16px;
  padding: 8px;

  background: var(--white);

  box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 1px 0px,
              rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
}

.restaurant-info-card > h2 {
  font-weight: 300;
  color: var(--darkergrey);
}

.restaurant-info-card > sub {
  padding: 4px 0;
  font-weight: 200;
  font-size: 12pt;
  color: var(--darkgrey);
}

.statistics-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviews-scroll {
  display: block;
  height: 0;
  padding: 0 12px;
}

.review {
  position: sticky;
  display: flex;
  flex-direction: row;

  /* background: var(--lightgrey); */
  border-radius: 12px;
  border: 1px solid var(--lightgrey);

  margin: 24px 16px;
  padding: 12px 0;

  min-height: 48px;
}

.review > p {
  margin: auto 16px auto 60px;
}

.review-profile-icon {
  height: 54px;
  width: 54px;
  position: absolute;
  top: -12px;
  left: -12px;
}