.Header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 72px;
  width: 100vw;
  padding: 0 16px;

  background: var(--primary);
  color: var(--text-white);
}

.Header .nav-portion {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header .header-button {
  color: white;
}

.Header .nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
}