.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 56px;
  width: 100vw;

  padding: 0 16px;

  background: var(--white);
}

.logo {
  font-weight: 600;
  /* margin-bottom: 5px; */

  color: var(--red);
  /* padding: 0 16px; */
  background: var(--white);
  /* clip-path: polygon(4% 0, 100% 0, 96% 100%, 0 100%); */
}